streamlit

firebase-admin

langchain

langchain-google-genai

google-generativeai

requests

pandas

python-dotenv

bcrypt

pdfplumber

PyPDF2

reportlab

streamlit-option-menu

pypdf

pymupdf
pillow
pytesseract


python-docx
pymupdf
pdf2image
